# Data Manipulation
numpy~=1.26.2
pandas~=2.1.3
geopandas~=0.14.1
tensorflow
keras

# Data Visualization
jupyter # for notebooks
matplotlib # for plots
dearpygui==1.9.1 # for GUI, forced 1.9.1 to avoid automatic use of buggy 1.10.1
folium # for maps

# Utils
tqdm

# Weather Data
openmeteo_requests # https://open-meteo.com

# API Requests
requests_cache
retry_requests